.home_previews {
  display: flex;
  justify-content: center;
}

.home_preview {
  display: flex;
  flex-direction: column;
}

#home_preview_image {
  width: 100%;
  opacity: 0.8;
}

#home_preview_image:hover {
  opacity: 1.0;
}

.home_preview_label {
  color: #FFFFFF
}
